/*------------------------------------------------------------------
    Products
-------------------------------------------------------------------*/
#products {
  padding: 70px 0px;
}
.section-title {
  text-align: center;
}

.img-fluid-1 {
  height: 200px;
  width: 100%;
  background-color: #fcf9f9;
  text-align: center;
  box-shadow: 0 5px 15px red;
  background-position: center;
}
.title-box-1 h2 {
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #222222;
  font-weight: 500;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.title-box-1 h2::after {
  content: "";
  position: absolute;
  background: url(../images/tag-removebg-preview.png) no-repeat center;
  width: 600px;
  height: 100px;
  bottom: -65px;
  left: 83px;
  right: -17%;
  margin: 0 auto;
}
.section-title p {
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-left: 25px;
}

.card-1 {
  background-color: white;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin-top: -10px;
  height: 300px;
}
.card-1:hover {
  transform: translateY(-5px);
}

.card-body-1 h4 {
  font-family: Georgia, "Times New Roman", Times, serif;

  font-size: 15px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  margin-top: 13px;
  color: black;
}
.card-body-1 h4:hover {
  color: red;
}

.card-body-1 p {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-weight: bold;
  text-align: center;
}

/*------------------------------------------------------------------
      Products
  -------------------------------------------------------------------*/
